<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- 彈窗-->
    <link href="js/lity/lity.css" rel="stylesheet" type="text/css">
    <!-- 輪播-->
    <link href="js/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="js/slick/slick.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="js/aos/aos.css" />
    <link href="css/hover.css" rel="stylesheet" type="text/css">
    <!-- LOAD-->
    <link href="js/jqueryIntroLoader/introLoader.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- jQuery library -->
    <script src="js/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/3.0.5/vue.global.js"></script>
    <script src="js/aos/aos.js"></script>

    <!-- 彈窗-->
    <script src="js/lity/lity.js"></script>
    <!-- 輪播-->
    <script src="js/slick/slick.js"></script>
    <!-- LOAD-->
    <script src="js/jqueryIntroLoader/jquery.easing.1.3.js"></script>
    <script src="js/jqueryIntroLoader/spin.min.js"></script>
    <script src="js/jqueryIntroLoader/jquery.introLoader.min.js"></script>

    <script src="js/internal.js"></script>

    <title>SPREAD</title>
</head>


<body>
    <!-- LOAD -->
    <!-- <div id="element" class="introLoading"></div> -->
    <!-- gotop -->
    <div class="gotop">
        <a href="javascript:;"></a>
    </div>
    <div id="luxy">
        <div id="app">
            <header class="m_60">

                <h1>
                    <img src="images/logo.png" alt="">
                </h1>
                <a href="javascript:;" class="menu_button">
                    <div class="menuicon"></div>
                </a>
                <nav class="menu">
                    <div class="container">
                        <ul>
                            <li><a href="javascript:;" class="m_a">About</a></li>
                            <li><a href="javascript:;" class="m_b">Work Experience</a></li>
                            <li><a href="javascript:;" class="m_c">Skill</a></li>
                            <li><a href="javascript:;" class="m_d">Web Design</a></li>
                            <li><a href="javascript:;" class="m_e">Visual Design</a></li>
                        </ul>
                    </div>
                </nav>

                <nav class="menu_mob">
                    <div class="menu_mob_box">
                        <ul>
                            <li><a href="javascript:;" class="m_a">About</a></li>
                            <li><a href="javascript:;" class="m_b">Work Experience</a></li>
                            <li><a href="javascript:;" class="m_c">Skill</a></li>
                            <li><a href="javascript:;" class="m_d">Web Design</a></li>
                            <li><a href="javascript:;" class="m_e">Visual Design</a></li>
                        </ul>
                    </div>

                </nav>

            </header>

            <section class="about m_70">
                <div class="about_img " data-aos="fade-right">
                    <img src="images/about_tt.png" alt="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-7">
                            <div class="about_txt" data-aos="fade-up">
                                <div class="title">
                                    <span>About</span>
                                    <h2>前端網頁設計師</h2>
                                </div>
                                <p>{{description}}</p>
                                <ul class="about_txt_icon">
                                    <li v-for="(item, index) in aboutItems" :key="index">
                                        <img :src="item.imagePath">
                                        <span>{{item.text}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <div class="bg2">
                <section class="work m_90" data-aos="fade-up" data-aos-delay="600">
                    <div class="container">
                        <div class="title">
                            <span>Work Experience</span>
                            <h2>工作經歷</h2>
                        </div>
                        <ul class="work_list">
                            <li v-for="(item, index) in workItems" :key="index">
                                <strong>{{ item.date }}</strong>
                                <div class="work_box">

                                    <div class="work_post">
                                        <strong>{{item.company}}</strong>
                                        <span>{{item.position}}</span>
                                    </div>
                                    <ul>
                                        <li v-for="(skill, index) in item.skill" :key="skillindex">
                                            {{skill}}
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </section>

                <section class="skill">
                    <div class="c-figure__base"> <svg viewBox="0 0 116 116">
                            <circle cx="58" cy="58" r="55" class="c-figure__base-dash" />
                            <circle cx="58" cy="58" r="55" class="c-figure__base-cover" />
                        </svg>
                    </div>
                    <div class="c-figure__arrow-wrap">
                        <div class="box">
                            <div class="c-figure__arrow">
                                <svg viewBox="0 0 16 25">
                                    <path
                                        d="M11.513,13.241l.04.081a41.494,41.494,0,0,0-3.07,3.4L.218,24.949v.167l4.086,0L16.218,12.6,4.477.116.24.12V.285L8.088,8.5a35.755,35.755,0,0,1,2.735,2.642l.692.833"
                                        transform="translate(-0.218 -0.116)" fill="#fff" fill-rule="evenodd" />
                                </svg>
                            </div>
                            <div class="c-figure__arrow aw-2">
                                <svg viewBox="0 0 16 25">
                                    <path
                                        d="M11.513,13.241l.04.081a41.494,41.494,0,0,0-3.07,3.4L.218,24.949v.167l4.086,0L16.218,12.6,4.477.116.24.12V.285L8.088,8.5a35.755,35.755,0,0,1,2.735,2.642l.692.833"
                                        transform="translate(-0.218 -0.116)" fill="#fff" fill-rule="evenodd"></path>
                                </svg>
                            </div>
                            <div class="c-figure__arrow aw-3">
                                <svg viewBox="0 0 16 25">
                                    <path
                                        d="M11.513,13.241l.04.081a41.494,41.494,0,0,0-3.07,3.4L.218,24.949v.167l4.086,0L16.218,12.6,4.477.116.24.12V.285L8.088,8.5a35.755,35.755,0,0,1,2.735,2.642l.692.833"
                                        transform="translate(-0.218 -0.116)" fill="#fff" fill-rule="evenodd"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="skill_main" data-aos="skill-animate" data-aos-easing="ease-in-back"
                        data-aos-delay="3000">
                        <div class="skill_title">
                            <div class="title">
                                <span>Skill</span>
                                <h2>技能</h2>
                            </div>
                        </div>
                        <ul class="skill_list_first">
                            <li v-for="(skill, index) in skillItems1" :key="index">
                                {{skill}}
                            </li>

                        </ul>
                        <ul class="skill_list_second">
                            <li v-for="(skill, index) in skillItems2" :key="index">
                                {{skill}}
                            </li>

                        </ul>

                    </div>
                </section>
            </div>
            <section class="web m_70" data-aos="fade-up">
                <div class="container">
                    <div class="title t-align-center m_30">
                        <span>Web Design</span>
                        <h2>網頁設計</h2>
                    </div>

                    <ul class="web_menu">

                        <li class="active"><a href="javascript:;">視覺體育</a></li>
                        <li><a href="javascript:;">旅遊觀光</a></li>
                        <li><a href="javascript:;">商業網站</a></li>
                        <li><a href="javascript:;">遊戲活動</a></li>
                    </ul>

                    <ul class="web_list">

                        <!--視覺體育-->
                        <li v-for="(category, index) in caseItems" :key="index"
                            :class="{ 'active': index === activeCategory }">
                            <div class="web_list_item">
                                <a v-for="(item, boxindex) in category.boxItems" :key="boxindex" :href="item.link"
                                    target="_blank">
                                    <img :src="item.imageSrc" :alt="item.title">
                                    <div class="web_list_tt" :style="{ 'background-color': item.backgroundColor }">
                                        <p>{{ item.title }}</p>
                                    </div>
                                </a>
                            </div>
                        </li>


            
                    </ul>
                </div>
            </section>
            <footer>
                Copyright © {{currentYear}} ALAN All rights reserved.
            </footer>
        </div>
    </div>

    <!--粒子 -->
    <div id="particles-js"></div>
    <!--粒子 -->
    <script src="js/particles.min.js"></script>
    <script src="js/app.js"></script>
    <!-- 判斷捲軸事件-->
    <script src="https://cdn.jsdelivr.net/gh/phucbm/jquery-scroll-direction-plugin@2.0.0/jquery.scroll-direction.js">
    </script>
    <!--  luxy js -->
    <script src='https://select.daiichisyokuhin.com/wp/wp-content/themes/daiichi/js/luxy.js'>
    </script>
    <script charset="utf-8">
        var isMobile = /iPhone|iPad|Android/i.test(navigator.userAgent);
        if (!isMobile) {
            luxy.init({
                wrapper: '#luxy',
                wrapperSpeed: 0.065,

            });
        }
    </script>

</body>

</html>