@charset "utf-8";
/* CSS Document */

$txt: #fff8ed;
$blue: #4ea8fa;
$gold: #e1a957;
$red: #ff0000;
@mixin big-text {
  text-transform: uppercase;
}

@mixin box-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

@mixin text-shadow {
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}
@mixin filter {
  filter: drop-shadow(0px 0px 9px rgba(13, 49, 36, 0.34));
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@mixin Arial {
  font-family: Arial, Helvetica, sans-serif;
}

@import "_reset";
@import "_basic";
@import "_share";
@mixin op_bonus {
  font-size: clamp(45px, 7vw, 72px);
}

.d_no {
  display: none;
}
.d_block {
  display: block;
}

body a {
  transition: all 0.2s;
}
body,
html {
  width: 100%;
  height: 100%;
}
button {
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 0;
}

.gotop {
  position: fixed;
  bottom: 10%;
  right: 48px;
  z-index: 9;
  display: none;
  a {
    position: relative;
    transition: all 0s;
    img {
      max-width: 77px;
    }

    &:hover {
    }
  }
}
body {
  background: black url(../images/bg.jpg) center top no-repeat;
  color: white;
  font-family: 微軟正黑體;
  font-size: 100%;
  line-height: 1.4;
  position: relative;
  overflow-x: hidden;
  &.hidden {
    overflow: hidden;
  }
}

section {
  //border: 1px #a82326 solid;
}

// 彈窗
.mob-menu_overlay {
  background-color: #000;
  opacity: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.open_auto {
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  &_main {
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: initial;
    z-index: 99;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    padding: 0;
    //opacity: 0;
    overflow: hidden;
    .open_auto_top {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-top: 40px;

      .btn_close {
        width: 35px;
        height: 35px;
        background: url(../images/icon_close.png);
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    .open_auto_bg {
      position: relative;
      padding-bottom: 50px;
      .open_auto_box {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: inherit;
        .tt {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #333;
          align-items: flex-start;
          grid-gap: 5px;
          img {
            padding-top: 5px;
          }
          @media (max-width: 500px) {
            & {
              align-items: center;
              img {
                max-width: 30px;
                padding-top: 0;
              }
            }
          }
        }
      }
      &.p0 {
        padding: 0;
      }
    }
    .open_auto_bottom {
      background: #1078c3;
      padding: 20px 10px;
      strong {
        color: #f7fb1e;
        display: block;
        font-weight: inherit;
      }
      p {
        color: white;
      }
    }
  }
  &.open {
    pointer-events: auto;
    opacity: 1;
    .open_auto_main {
      //opacity: 1;
    }
    .mob-menu_overlay {
      visibility: visible;
      pointer-events: auto;
      opacity: 0.8;
    }
  }
}

//遊戲 踢球結束-獲獎結果
.open_play-get {
  .open_auto_main {
    max-width: 500px;
    color: black;
    .open_auto_bg {
      padding: 0;
      .open_auto_box {
        padding-top: 30px;
        & > .tt {
          font-size: clamp(16px, 4vw, 60px);
          font-weight: bold;
          line-height: 100%;
        }
        .game_result_main {
          display: flex;
          flex-direction: column;
          align-items: center;
          .title {
            font-size: clamp(16px, 3vw, 40px);
            font-weight: bold;
            margin-bottom: 20px;
          }
          &_box {
            width: 100%;
            max-width: 330px;
            margin: 0 0 20px;
            .tt {
              width: 212px;
              height: 53px;
              line-height: 45px;
              background: url(../images/img_tt.png) center no-repeat;
              background-size: contain;
              color: white;
              font-size: 1.8em;
              text-align: center;
              margin: 0 auto 10px;
            }
            .information {
              display: flex;
              justify-content: space-between;
              align-items: center;
              span {
                color: #9a1032;
                @include Arial();
                @include op_bonus();
                font-weight: bold;
                line-height: 69px;
              }
              p {
                font-size: 2.188em;
              }
            }
          }

          .border-bottom {
            border-bottom: 1px #000 dashed;
          }
        }
      }
      .open_accept_award_process {
        padding: 15px;
      }
    }
  }

  &.open {
    .bg_play-get {
      background: url(../images/bg_play-get.png) center no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 99;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      ul {
        max-width: 500px;
        height: 100%;
        margin: auto;
        position: relative;
        li {
          position: absolute;
        }
        li:nth-of-type(1) {
          right: -60px;
          top: 25%;
        }
        li:nth-of-type(2) {
          left: -80px;
          bottom: 40%;
        }
        li:nth-of-type(3) {
          right: -40px;
          bottom: 25%;
        }
      }
      @media (max-width: 500px) {
        background: url(../images/bg_play-get-mob.png) center no-repeat;
        ul {
          li:nth-of-type(1) {
            right: -90px;
            top: 25%;
          }
        }
      }
      @media (max-width: 320px) {
        display: none;
      }
    }
  }
  @media (max-width: 500px) {
    .open_auto_main .open_auto_bg {
      padding: 0;
      .open_auto_box {
        padding: 0;
        & > .tt {
          font-size: 4em;
          line-height: 66px;
        }
        .game_result_main_box .information {
          padding: 0;
          span {
            font-size: 4em;
            line-height: 0.8em;
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    .open_auto_main .open_auto_bg {
      padding: 0;
      .open_auto_box {
        padding: 0;
        & > .tt {
          font-size: 3em;
          line-height: 50px;
        }
        .game_result_main {
          .title {
            font-size: 2em;
            margin-bottom: 10px;
          }
          .game_result_main_box .information {
            padding: 0;
            span {
              font-size: 4em;
              line-height: 0.8em;
            }
          }
        }
      }
      .open_accept_award_process {
        font-size: 13px;
        padding: 10px;
      }
    }
  }
}
.open_accept_award_process {
  width: 100%;
  background: #9a1032;
  color: white;
  padding: 35px 30px;
  text-align: center;
  font-size: clamp(15px, 3vw, 20px);
  font-weight: bold;
  @media (max-width: 500px) {
    padding: 10px;
    line-height: 1.5em;
  }
}
//遊戲 踢球結束-未獲獎結果
.open_play-not .open_auto_main .open_auto_bg {
  padding: 0;
  .open_auto_box {
    .game_result_main {
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-size: 2.813em;
        margin-bottom: 10px;
      }
      &_box {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        .txt {
          color: #9a1032;
          font-size: 2.188em;
          text-align: center;
          margin: 20px 0;
        }
      }
      @media (max-width: 500px) {
        // font-size: 80%;
        img {
          max-width: 150px;
        }
      }
    }
  }
}

//機器台
.machine {
  max-width: 1317px;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: 26fr 61fr 12fr;
  .machine_top {
    display: flex;
  }
  .machine_main {
    background: url(../images/bg_machine-main.png) center;
    position: relative;
  }
  .machine_bottom {
    background: url(../images/bg_machine-bottom.png) center;
    position: relative;
    display: flex;
    justify-content: center;
    .btn-shot {
      width: 120px;
      height: 91px;
      background: url(../images/btn_normal.png);
      margin-top: -10px;
    }
    &.active {
      button {
        height: 69px;
        background: url(../images/btn_press.png);
        margin-top: 10px;
      }
    }
  }
  @media (max-width: 1360px) {
    & {
      grid-template-rows: 37fr 12fr;
      .machine_top {
        display: none;
      }
      .machine_main {
        background: url(../images/bg_machine-main-1360.jpg) center repeat-y;
      }
      .machine_bottom {
        background: url(../images/bg_machine-bottom-1360.png) center top no-repeat;
      }
    }
  }
}

//場景
.stage {
  width: 100%;
  max-width: 977px;
  height: 544px;
  background: url(../images/bg_stage.jpg) center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  grid-template-columns: 29fr 9fr 41fr 6fr 16fr;
  grid-template-rows: 50fr 10fr 28fr 10fr;

  &.active {
    background: url(../images/bg_stage-active.jpg) center;
    .flash {
      visibility: visible;
      pointer-events: auto;
    }
    .player_dribble {
      display: none;
    }
    .player_shoot {
      opacity: 1;
      transform: translate(0, -40px);
    }
    //射中
    &.shoot {
      .nets {
        animation: ldx-jelly-alt 1s forwards 1.58s linear;
      }
      .ball {
        display: block;
        position: absolute;
        top: -250px;
        right: 20px;
        offset-path: path(
          "m8.5,268.5c12.2-17.21,225-369,464-18,0,0,27,151-30,214,0,0-60-63-106.5,0,0,0-74.11-12-92.3,0"
        );
        animation: move 3000ms forwards ease-in-out;
      }
    }
    &.missed {
      //沒中
      .ball {
        display: block;
        position: absolute;
        top: -200px;
        right: 20px;
        offset-path: path(
          "m10.66,224.57c12.2-17.21,301.69-404.14,438.84,207.93,0,0-49-64-93.92-3.67,0,0-30.08-8.33-67.08,4.67"
        );
        animation: move 2000ms forwards ease-in-out;
      }
    }
  }
  @media (max-width: 1360px) {
    top: inherit;
    bottom: 10px;
    transform: translateX(-50%);
  }
  @media (max-width: 1200px) {
    & {
      background: url(../images/bg_stage-m.jpg) center;
      grid-template-columns: 15fr 89px 397px 60px 129px;
      .nets {
        position: relative;
      }
      .basket {
        position: relative;
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
        &:before {
          content: "";
          width: 79px;
          height: 100px;
          background: url(../images/basket.png);
          display: block;
          position: absolute;
          top: -60px;
          left: 17px;
          z-index: -1;
        }
      }
    }
    &.active {
      background: url(../images/bg_stage-m-active.jpg) center;
    }
  }
  @media (max-width: 590px) {
    & {
      background: url(../images/bg_stage-m.jpg) center right 14%;
      grid-template-columns: 6fr 105px 120px 61px 16fr;
      &.shoot {
        .player_shoot .ball {
          offset-path: path("m25.5,269.5c12.2-17.21,209-291,209,254,0,0-29-152-91.02,0,0,0-25.98-82-71.74-6");
        }
        .nets {
          animation: ldx-jelly-alt 1s forwards 1.18s linear;
        }
        .coin {
          .coin_main {
            picture {
              visibility: visible;
              pointer-events: auto;
            }
            .type1 {
              img:nth-of-type(1) {
                animation: coin-fly1-1 1.2s 1s forwards;
              }
              img:nth-of-type(2) {
                animation: coin-fly1-2 1.4s 1s forwards;
              }
              img:nth-of-type(3) {
                animation: coin-fly1-3 1.6s 1s forwards;
              }
            }
            .type2 {
              img:nth-of-type(1) {
                animation: coin-fly2-1 1.4s 1s forwards;
              }
              img:nth-of-type(2) {
                animation: coin-fly2-2 1.3s 1s forwards;
              }
            }
            .type3 {
              img:nth-of-type(1) {
                animation: coin-fly3-1 1.1s 1s forwards;
              }
              img:nth-of-type(2) {
                animation: coin-fly3-2 1.5s 1s forwards;
              }
            }
            .type4 {
              img:nth-of-type(1) {
                animation: coin-fly4-1 1.4s 1s forwards;
              }
              img:nth-of-type(2) {
                animation: coin-fly4-2 1.5s 1s forwards;
              }
              img:nth-of-type(3) {
                animation: coin-fly4-3 1.3s 1s forwards;
              }
            }
          }
        }
      }
    }
    &.active {
      background: url(../images/bg_stage-590-active.jpg) center right 14%;
    }
  }
}

.menu {
  width: 288px;
  height: 150px;
  background: url(../images/bg_memu.png) center no-repeat;
  display: grid;
  grid-template-columns: 35fr 30fr 35fr;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  font-family: "Orbitron", sans-serif;
  .type {
    display: flex;
    align-items: center;
    padding-top: 8px;
    flex-direction: column;
    .tt {
      font-size: 0.9em;
    }
    .number {
      color: #ffff09;
      font-size: clamp(30px, 3vw, 40px);
    }
  }
  .shot_in {
    .number {
      padding: 25px 0 0 4px;
    }
  }
  .fraction {
    position: relative;
    .increase {
      background: black;
      border: 1px white solid;
      border-radius: 20px;
      padding: 0px 10px;
      font-size: 0.9em;
      position: absolute;
      right: -20px;
      top: 41px;

      animation-fill-mode: forwards;
      transform: translate(0, 100%);
      opacity: 0;
      &.active {
        animation: ldx-slide-btt 1s;
      }
    }
    .number {
      padding: 25px 0 0 0px;
    }
  }

  @keyframes ldx-slide-btt {
    0% {
      animation-timing-function: ease-out;
      transform: translate(0, 100%);
      opacity: 0;
    }

    50% {
      animation-timing-function: ease-in-out;
      transform: translate(0, 0);
      opacity: 1;
    }

    100% {
      animation-timing-function: ease-in;
      transform: translate(0, -200%);
      opacity: 0;
    }
  }

  .time {
    color: white;
    padding: 5px 10px;

    font-size: clamp(20px, 3vw, 25px);
    font-weight: bold;
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    padding-top: 67px;
  }
}

.result {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  picture {
    animation: ldx-beat 1s infinite linear;
    position: absolute;
    opacity: 0;
  }
  &.goal .goal {
    opacity: 1;
  }
  &.fail .fail {
    opacity: 1;
  }
}
//球員
.player {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  display: flex;
  align-items: flex-end;
  position: relative;
}
//運球
.player_dribble {
  position: relative;
  .man {
    position: relative;
    z-index: 1;
  }
  .ball {
    display: block;
    position: absolute;
    bottom: 14px;
    right: -9px;
  }
  .hand {
    display: block;
    position: absolute;
    bottom: 64px;
    right: -9px;
  }
}
//投籃
.player_shoot {
  position: relative;
  transform: translate(0, 0);
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
  .ball {
  }
}
//籃網
.nets {
  position: relative;
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

//金幣
.coin {
  width: 100%;
  position: relative;
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
  .coin_main {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -5px;

    picture {
      display: block;
      position: absolute;
      visibility: hidden;
      pointer-events: none;
      top: -24px;
      left: -28px;

      img {
        max-width: inherit;
        position: absolute;
        opacity: 0;
        transform: scale(0.1) rotate(0);
      }
    }
  }
}
//投籃錢幣
.stage.shoot {
  .coin {
    .coin_main {
      picture {
        visibility: visible;
        pointer-events: auto;
      }
      .type1 {
        img:nth-of-type(1) {
          animation: coin-fly1-1 1.2s 1.5s forwards;
        }
        img:nth-of-type(2) {
          animation: coin-fly1-2 1.4s 1.5s forwards;
        }
        img:nth-of-type(3) {
          animation: coin-fly1-3 1.6s 1.5s forwards;
        }
      }
      .type2 {
        img:nth-of-type(1) {
          animation: coin-fly2-1 1.4s 1.5s forwards;
        }
        img:nth-of-type(2) {
          animation: coin-fly2-2 1.3s 1.5s forwards;
        }
      }
      .type3 {
        img:nth-of-type(1) {
          animation: coin-fly3-1 1.1s 1.5s forwards;
        }
        img:nth-of-type(2) {
          animation: coin-fly3-2 1.5s 1.5s forwards;
        }
      }
      .type4 {
        img:nth-of-type(1) {
          animation: coin-fly4-1 1.4s 1.5s forwards;
        }
        img:nth-of-type(2) {
          animation: coin-fly4-2 1.5s 1.5s forwards;
        }
        img:nth-of-type(3) {
          animation: coin-fly4-3 1.3s 1.5s forwards;
        }
      }
    }
  }
}
.flash {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  visibility: hidden;
  pointer-events: none;
  &_point {
    border-radius: 100%;
    position: absolute;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle at center, white, transparent);
    opacity: 0;
    animation: flash 0.5s ease-out infinite;
    &.type1 {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
    &.type2 {
      grid-column: 9 / span 1;
      grid-row: 3 / span 1;
      animation-delay: 0.1s;
    }
    &.type3 {
      grid-column: 5 / span 1;
      grid-row: 6 / span 1;
      animation-delay: 0.3s;
    }
    &.type4 {
      grid-column: 8 / span 1;
      grid-row: 7 / span 1;
      animation-delay: 0.7s;
    }
    &.type5 {
      grid-column: 7 / span 1;
      grid-row: 5 / span 1;
      animation-delay: 0.4s;
    }
    &.type6 {
      grid-column: 3 / span 1;
      grid-row: 7 / span 1;
      animation-delay: 0.5s;
    }
  }
}

@keyframes flash {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

//桌機時  強制選單出現  手機選單消失
@media screen and (min-width: 1201px) {
  .menu_main {
    // display: block !important;
  }
  .menu_main_mob,
  .mob_menu {
    display: none !important;
  }
}
//RWD
@media (max-width: 1200px) {
}

//RWD
@media (max-width: 590px) {
}
