.d_no {
  display: none;
}
.d_block {
  display: block;
}

body a {
  transition: all 0.2s;
}
body,
html {
  width: 100%;
  height: 100%;
}
button {
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 0;
}

.loadingArea {
  width: 100%;
  height: 100vh;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.4s;
}

.loadingArea .loadLogo {
  width: 260px
}

.loadingArea .loadLogo img {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  transition: all 1s ease;
  width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.loadingArea.show {
  opacity: 1;
  pointer-events: auto
}

.loadingArea.show .loadLogo img {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}

.loadingArea.hide {
  opacity: 0
}

.gotop {
  position: fixed;
  bottom: 10%;
  right: 48px;
  z-index: 9;
  display: none;
  a {
    position: relative;
    transition: all 0s;
    img {
      max-width: 77px;
    }

    &:hover {
    }
  }
}

.theme-fluoYellow.introLoader.simpleLoader {
  background-color: #ad2326;
}


.swiper-button-next,
.swiper-button-prev {
  background: #ad2326;
  color: white;
  width: 65px;
  height: 65px;
  &:after {
    font-size: 15px;
    font-weight: bold;
  }
  @media (max-width: 1000px) {
    & {
      width: 45px;
      height: 45px;
    }
  }
}

.title {
  color: #cc0000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 20px;

  .tt {
    font-size: clamp(1.875rem, 3.75vw, 2.5rem);
    line-height: 1;
  }
  & > a {
    color: black;
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    grid-gap: 10px;
    flex-direction: row-reverse;
    padding-top: 10px;
    &:before {
      content: "\f178";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #000;
      font-size: 18px;
      padding-right: 0.5em;
    }
  }
}

.navigation {
  display: flex;

  grid-gap: 15px;
  .item {
    position: static;
    margin: 0;
  }
}

@keyframes beat {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  80% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}

@keyframes loop-text {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}
